  /* .logout-button{
    background: linear-gradient(90deg, #b06aec 0%, #c72d2d 100%);
    border: none;
    color: white;
    padding: 16px;
    margin: 10px;
    cursor: pointer;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
} */

.logout-button > h3{
  cursor: pointer;
  padding: 16px;
  text-align: left;
  margin: 10px;
  font-weight: 500;
}

.logout-button > h3:hover{
  background-color: #eb523e;
  border-radius: 10px;
  box-shadow: 0 5px 15px #f05446aa
}

  /* .logout-button:hover {
    background: #da190b;
    transition-duration: 300ms;
  } */