.purchase{
    display: grid;
    grid-template-columns: 50% 50%;
    flex: 1;

    min-width: 600px;
    align-content: center;
    
    /* height: 100vh; */
    grid-template-rows: 10% 90%;
}

.purchase__artwork{
    justify-self: center;

    align-self: center;
}

.purchase__artwork > img{
    width: 80%;
    border-radius: 16px;

    box-shadow: 0px 6px 18px -9px rgba(0, 0,
    0, 0.75);
}


.purchase__details{
    width: 80%;
    padding-right: 24px;
    display: flex;
    flex-direction: column;

    color: white;
    text-align: left;
    justify-self: center;

    align-self: center;
}

.purchase__details > h1{
    margin: 0;
}

.purchase__details > h3::-webkit-scrollbar {
    display: none;
}

.purchase__details > h3{
    height: 180px;
    font-weight: 300;

    overflow: scroll;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.purchase__details > h2{
    font-size: 18px;
    margin: 0;
}



.purchase__detailsBuy{
    flex: 1;
    display: flex;
    justify-self: center;
    align-items: center;
}

.value{
    display: flex;
    justify-self: center;
    align-items: center;
    flex: 0.6;
}

.purchase__detailsBuy > button{
    background: linear-gradient(90deg, #b06aec 0%, #7839d5 100%);
    border: none;
    color: white;
    padding: 15px 32px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 5px;
    border-radius: 6px;
    flex: 0.4;
}

.purchase__detailsBuy > button:disabled{
    background: none;
    border: 1px solid gray;
    cursor: not-allowed;
}

.purchase_charity > button:disabled{
    background: none;
    border: 1px solid gray;
    cursor: not-allowed;
}



.purchase__detailsBuy > .value > h2{
    font-size: 20px;
}

.symbol{
    font-size: 30px;
}

.goback{
    justify-self: center;
    width: 80%;
    text-align: left;
    align-self: center;
}

.gobackButton{
    font-size: 30px;
    color: white;
    cursor: pointer;
    transition-duration: 100ms; 
}

.gobackButton:hover{
    color: #b97cff;
    font-size: 45px; 
}

.purchase__auctionDetails{
    display: flex;
    flex-direction: column;
}

.purchase__auctionDetails > label{
    font-weight: 300;
}

.purchase__auctionDetails > input{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba( 1, 0, 0, 0.10 );
    /* box-shadow: 0 8px 32px 0 rgba(177, 75, 245, 0.05); */
    backdrop-filter: blur( 1.0px );
    -webkit-backdrop-filter: blur( 1.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    outline-width: 0;
    color: white;
    width: 100%;
    padding: 10px 6px;
    margin: 8px 0px;
    
    box-sizing: border-box;
    display: block;
    border-radius: 8px;
}



.purchase__auctionDetails__Bids {
    display: flex;
    margin: 8px 0px;
}

.purchase__auctionDetails__Bids > h2{
    font-size: 20px;
    text-align: center;
    background: rgba( 1, 0, 0, 0.10 );
    /* box-shadow: 0 8px 32px 0 rgba(177, 75, 245, 0.05); */
    backdrop-filter: blur( 1.0px );
    -webkit-backdrop-filter: blur( 1.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    outline-width: 0;
    color: white;
    width: 100%;
    padding: 10px 6px;
    margin: 8px 4px;
    
    box-sizing: border-box;
    display: block;
    border-radius: 8px;
}

.purchase__header{
    color: white;
}

.purchase__header > h3{
    color: #c497f8;
}

.purchase_charity > button{
    
    border: none;
    color: white;
    padding: 15px 32px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 5px;
    border-radius: 6px;
    flex: 0.4;
}

.purchase_charity > .charity__startFlow{
    background: linear-gradient(90deg, #2ab44c 0%, #6bf087 100%);
}

.purchase_charity > .charity__stopFlow{
    background: linear-gradient(90deg, #d53e39  0%, #eca46a 100%);
}

.purchase_charity > h1{
    margin: 8px 0px;
    font-size: 48px;
}

.purchase_charity > h2{
    margin: 4px 0px;
}

.poweredBy{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.MuiCircularProgress-svg{
    color: rgb(193, 81, 193);
    justify-self: center;
}

.purchase_charity > label{
    font-weight: 300;
}

.purchase_charity > input{

    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba( 1, 0, 0, 0.10 );
    /* box-shadow: 0 8px 32px 0 rgba(177, 75, 245, 0.05); */
    backdrop-filter: blur( 1.0px );
    -webkit-backdrop-filter: blur( 1.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    outline-width: 0;
    color: white;
    width: 100%;
    padding: 10px 6px;
    margin: 8px 0px;
    
    box-sizing: border-box;
    display: block;
    border-radius: 8px;
}

.purchase__artwork > h2{
    color: white;
}