.show-portis {
    background: linear-gradient(90deg, #b06aec 0%, #7839d5 100%);
    border: none;
    color: white;
    padding: 15px 32px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.main__layout{
    display: flex;
    justify-content: space-between;
}
